
body {
background-color: #E0FEFF;
font-size: 350%;
}

.aboutblank {
  background-color: #222;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.aboutblank:hover,
.aboutblank:focus {
  opacity: .75;
}



.app {
  text-align: center;
  font-size: 16px;
  padding: 9px 20px 8px;
  font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
  
