
body {
background-color: #041014;

}

.aboutblank {
  
  background-color: #145369;
  border-radius: 4px;
  border-style: none;
  color: #2596be;
  display: inline-block;
  font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
  font-size: 36px;
  margin: 20px;
  outline: none;
  overflow: hidden;
  padding: 10px 20px 10px 20px;
  text-align: center;
}

.aboutblank:hover,
.aboutblank:focus {
  opacity: .75;
}



.app {
  text-align: center;
  font-size: 36px;
  padding:   10px 20px 10px 20px;
  font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
  background-color: #145369;
  border-radius: 4px;
  border-style: none;
  color: #2596be;
  cursor: pointer;
  font-weight: 700;
  line-height: 1.5;
   margin: 20px;
  display:inline-block;
  
}
p {
   margin: 20px;
  color: #2596be;
  font-size: 36px;
  text-align: center;
  padding: 10px 20px 10px 20px;
  display:inline-block;
}
h1 {
  background-color: #145369;
  color: #2596be;
  font-size: 46px;
  font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
  text-align: center;
  padding: 10px 20px 10px 20px;
   margin: 20px;
 display:inline-block;
}



.dropbtn {
  background-color: #145369;
  color: #2596be;
  padding: 16px;
  font-size: 36px;
  border: none;
  cursor: pointer;
  font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
}

.dropdown {
  position: relative;
  display: inline-block;
  font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #145369;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
}


.dropdown-content a {
  color: #2596be;  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
  font-size: 36px;
}

.show {display:block;}
}
