
body {
background-color: #36213E;
}

.Fatty {
  padding: 10px 20px 10px 20px;
  width: 256px;
  height: 128px;
}
  
.aboutblank {
  
  background-color: #0D5521;
  border-radius: 4px;
  border-style: none;
  color: #91C499;
  display: block;
  font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
  font-size: 36px;
  margin: 20px;
  outline: none;
  overflow: hidden;
  padding: 10px 20px 10px 20px;
  text-align: center;
}

.aboutblank:hover,
.aboutblank:focus {
  opacity: .75;
}



.app {
  border-radius: 4px;
  text-align: center;
  font-size: 36px;
  padding:   10px 20px 10px 20px;
  font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
  background-color: #0D5521;
  border-radius: 4px;
  border-style: none;
  color: #91C499;
  cursor: pointer;
  font-weight: 700;
  line-height: 1.5;
  margin: 20px;
  display:block;
  
}
p {
  border-radius: 4px;
   margin: 20px;
  color: #91C499;
  font-size: 36px;
  text-align: center;
  padding: 10px 20px 10px 20px;
  display:block;
}
h1 {
  border-radius: 4px;
  background-color: #0D5521;
  color: #91C499;
  font-size: 46px;
  font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
  text-align: center;
  padding: 10px 20px 10px 20px;
  margin: 20px;
 display:block;
}



.dropbtn {
  border-radius: 4px;
  background-color: #0D5521;
  color: #91C499;
  padding: 10px 20px 10px 20px;
  font-size: 36px;
  border: none;
  cursor: pointer;
  font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
  margin: 20px;
}


button {
  border-radius: 4px;
  background-color: #0D5521;
  color: #91C499;
  padding: 10px 20px 10px 20px;
  font-size: 36px;
  border: none;
  cursor: pointer;
  font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
  margin: 20px;
}


.dropdown {
  position: relative;
  display: block;
  font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
}


.dropdown-content {
  display: none;
  border-radius: 4px;
  position: absolute;
  background-color: #0D5521;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
  margin: 20px;
}


.dropdown-content a {
  border-radius: 4px;
  color: #91C499;  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
  font-size: 36px;
  margin: 20px;
}

.show {display:block;
}

embed {
  max-width: 100%;
  max-height:100%:
  overflow: hidden;
}


